* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1145px;
  margin: 0 auto;
}

.header {
  background: rgba(0, 0, 0, 0.3) url(../images/header-bg.jpg) no-repeat center;
  background-size: cover;
}
