@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header-top {
  padding: 20px 194px 0 194px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
}

.menu-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #4d4244;
}

.menu-list:not(:first-child) {
  margin-left: 47px;
}

.header-bottom {
  padding: 100px 0 164px 0;
  text-align: center;
}

.header-bottom__title {
  margin: 0 415px;
  font-weight: 900;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: -0.03em;
}

.header-bottom__text {
  margin: 18px 433px 34px 433px;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.03em;
}

.btn-red {
  display: inline-block;
  padding: 0;
  margin: 0 27px 0 0;
  vertical-align: middle;
  width: 151px;
  height: 46px;
  background: #ff0d38;
  box-shadow: 0px 0px 30px rgba(255, 13, 56, 0.21);
  border-radius: 17px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.btn-red:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.btn-white {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 151px;
  height: 46px;
  border: 2px solid #ff0d38;
  border-radius: 17px;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: #ff0d38;
}

.btn-white:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.about-wrapper {
  max-width: 1040px;
  margin: 0 auto;
  padding-bottom: 164px;
  display: flex;
  justify-content: space-between;
}

.about-text {
  max-width: 481px;
}

.about-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: #d70026;
}

.about-subtitle {
  margin: 2px 0 10px 0;
  font-weight: 900;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.03em;
}

.about-subtext {
  margin: 0 0 21px 0;
  max-width: 386px;
  font-size: 18px;
  line-height: 27px;
}

.about-photo img {
  width: 445px;
}

.footer .container {
  background-color: #272727;
}

.footer-wrapper {
  max-width: 600px;
  margin: 0 645px 0 195px;
  padding: 80px 0 100px 0;
  display: flex;
  justify-content: space-between;
}

.fmenu-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: #d70026;
}

.fmenu-link {
  display: inline-block;
  margin-top: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.email-text {
  margin: 19px 0 13px 0;
  max-width: 328px;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.input-email {
  margin-bottom: 20px;
  width: 318px;
  height: 51px;
  background: #454545;
  border: 1px solid #595959;
  border-radius: 11px;
  font-style: italic;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: #747474;
}

.input-email::placeholder {
  padding-left: 10px;
}

.input-email:focus {
  padding-left: 10px;
}
