* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}

/* body {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #000000;
  } */

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Header */

.header .container {
  background: linear-gradient(
    102.87deg,
    #fceed5 6.43%,
    #fceed5 78.33%,
    #ffe7ba 104.24%
  );
  border-radius: 0px 0px 40px 40px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  gap: 48px;
}

.search-input {
  width: 280px;
  height: 44px;
  background: #fdfdfd;
  border-radius: 46px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 20px 12px 16px;
  gap: 12px;
}
