@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Header */

.header .container {
  background: linear-gradient(
    102.87deg,
    #fceed5 6.43%,
    #fceed5 78.33%,
    #ffe7ba 104.24%
  );
  border-radius: 0px 0px 40px 40px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 130px;
}

.navbar {
  display: flex;
  gap: 48px;
}

.navbar__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #003459;
}

.search {
  position: relative;
}

.search-input {
  width: 280px;
  height: 44px;
  background: #fdfdfd;
  border-radius: 46px;
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 48px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #99a2a5;
}

.search-btn {
  position: absolute;
  left: 16px;
  top: 12px;
  border: none;
  height: 20px;
  width: 20px;
  background: #fdfdfd;
  outline: none;
  padding: 2px;
}

.search-btn:hover {
  cursor: pointer;
}

.btn-prim {
  display: inline-block;
  width: 203px;
  height: 44px;
  background: #003459;
  border-radius: 57px;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fdfdfd;
}

.btn-prim:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.header-bottom {
  position: relative;
  display: flex;
  overflow: hidden;
}

.header-bottom img {
  position: absolute;
  width: 944px;
  left: 530px;
  top: -16px;
}

.header-bottom__info {
  margin: 0 0 205px 130px;
}
.header-bottom__title {
  margin-top: 80px;
  font-weight: 800;
  font-size: 60px;
  line-height: 68px;
  text-transform: capitalize;
  color: #002a48;
}

.header-bottom__subtitle {
  margin: 4px 0 24px 0;
  font-weight: 700;
  font-size: 46px;
  line-height: 60px;
  text-transform: capitalize;
  color: #002a48;
}

.header-bottom__text {
  margin-bottom: 34px;
  width: 480px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #242b33;
}

.header-bottom__links .btn-prim {
  width: 163px;
  height: 48px;
  font-weight: 500;
  margin-left: 20px;
}

.btn-sec {
  display: inline-block;
  width: 161px;
  height: 48px;
  border-radius: 57px;
  border: 1.5px solid #003459;
  outline: none;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #003459;
}

.btn-sec:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

/* Gallery */

.gallery-new {
  padding: 54px 0 0 130px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.gallery-pets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 130px 28px 130px;
}

.gallery-pets__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  color: #003459;
}

.gallery-pets .btn-sec {
  width: 151px;
  height: 44px;
}

.gallery-main {
  margin: 0 130px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  column-gap: 20px;
  row-gap: 20px;
}

.gallery-card {
  width: 280px;
  height: 378px;
  background: #fdfdfd;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

.gallery-card__info {
  margin: 8px 8px 0 8px;
}

.gallery-card__info img {
  border-radius: 10px;
}

.gallery-card__name {
  margin: 16px 0 4px 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #00171f;
}

.gallery-prop__1 {
  margin-left: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #667479;
}

.gallery-prop__2 {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #667479;
}

.gallery-prop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.gallery-prop span {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #667479;
}

.gallery-prop__1 span,
.gallery-prop__2 span {
  margin-left: 6px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #667479;
}

.gallery-prop__price {
  margin: 4px 0 0 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #00171f;
}

/* Banner-1 */

.banner-1 {
  position: relative;
  margin-left: 130px;
  width: 1180px;
  height: 378px;
  background: #003459;
  border-radius: 20px;
  overflow: hidden;
}

#banner-1__woman {
  position: absolute;
  left: 20px;
  bottom: 0;
}

#banner-1__rect1 {
  position: absolute;
  width: 787.54px;
  height: 787.54px;
  top: 190px;
  left: -150px;
  background: #002a48;
  border-radius: 99px;
  transform: rotate(28.25deg);
}

#banner-1__rect2 {
  position: absolute;
  width: 782.29px;
  height: 635px;
  left: 600px;
  top: -225px;
  background: #fceed5;
  border-radius: 99px;
  transform: rotate(28.25deg);
}

.banner-1__info {
  position: absolute;
  z-index: 1000;
  right: 85px;
  top: 64px;
}

.banner-1__info-title {
  text-align: right;
  font-weight: 800;
  font-size: 52px;
  line-height: 68px;
  text-transform: capitalize;
  color: #003459;
}

.banner-1__info-subtitle {
  text-align: right;
  margin: 2px 0 8px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-transform: capitalize;
  color: #002a48;
}

.banner-1__info-text {
  float: right;
  margin-bottom: 34px;
  width: 394px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  color: #242b33;
}

.banner-1__info-links {
  position: absolute;
  right: 0px;
  top: 210px;
}

.banner-1__info-links .btn-prim {
  font-weight: 500;
  width: 163px;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
}

/* Gallery Foods */

.gallery-foods .gallery-card {
  height: 446px;
}

.gallery-gift {
  margin: 20px 0 0 8px;
  display: flex;
  align-items: center;
  gap: 2px;
  width: 248px;
  height: 34px;
  background: #fceed5;
  border-radius: 8px;
}

.gallery-gift img {
  margin-left: 10px;
  border-radius: 0;
}

.gallery-gift span {
  margin: 0 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #002a48;
}

.gallery-gift__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #002a48;
}

/* Sellers */

.sellers-header {
  margin: 0 130px;
  padding: 40px 0 15px 0;
  display: flex;
  align-items: center;
}

.sellers-title {
  margin-right: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 31px;
}

.sellers-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #003459;
}

.sellers-header .btn-sec {
  margin-left: auto;
  width: 201px;
}

.sellers-list {
  margin: 0 130px;
  padding: 0 0 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sellers-list > :first-child {
  margin-left: 31.71px;
}

.sellers-list > :last-child {
  margin-right: 17.71px;
}

/* Banner-2 */

.banner-2 {
  position: relative;
  margin-left: 130px;
  width: 1180px;
  height: 378px;
  background: #ffb775;
  border-radius: 20px;
  overflow: hidden;
}

#banner-2__hands {
  position: absolute;
  left: 600px;
  bottom: 0;
}

#banner-2__rect1 {
  position: absolute;
  width: 787.54px;
  height: 787.54px;
  top: 190px;
  right: -150px;
  background: #ffe7ba;
  opacity: 0.3;
  border-radius: 99px;
  transform: rotate(-28.25deg);
}

#banner-2__rect2 {
  position: absolute;
  width: 782.29px;
  height: 635px;
  right: 600px;
  top: -225px;
  background: #fceed5;
  border-radius: 99px;
  transform: rotate(-28.25deg);
}

.banner-2__info {
  position: absolute;
  z-index: 1000;
  left: 85px;
  top: 64px;
}

.banner-2__info-title {
  text-align: left;
  font-weight: 800;
  font-size: 52px;
  line-height: 68px;
  text-transform: capitalize;
  color: #003459;
}

.banner-2__info-subtitle {
  text-align: left;
  margin: 2px 0 8px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-transform: capitalize;
  color: #002a48;
}

.banner-2__info-text {
  float: left;
  margin-bottom: 34px;
  width: 394px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: #242b33;
}

.banner-2__info-links {
  position: absolute;
  left: 0px;
  top: 210px;
}

.banner-2__info-links .btn-prim {
  font-weight: 500;
  width: 163px;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
}
