.Me {
  grid-area: m;
  outline: solid 1px red;
  background-color: #ade8f4;
  width: 200px;
  margin-top: 20px;
  img {
    max-width: 200px;
  }
}

.info {
  grid-area: i;
  outline: solid 1px red;
  width: 580px;
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(74, 239, 151, 0.212);
  h1 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  #status {
    font-size: 14px;
    color: #b8b8bb;
  }
}

.links {
  grid-area: l;
  outline: solid 1px red;
  width: 180px;
  margin-top: 20px;
}

.hr-line {
  border-color: rgb(0, 9, 0);
}
