.Me {
  outline: solid 1px red;
  background-color: #ade8f4;
  width: 200px;
  margin-top: 20px;
  img {
    max-width: 200px;
  }
}

.info {
  outline: solid 1px red;
  width: 580px;
  margin-top: 20px;
  background-color: white;
}

.links {
  outline: solid 1px red;
  width: 180px;
  margin-top: 20px;
}
